body{
    background-color: rgb(217, 217, 246);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menubar{
    display: inline-block;
}

.mainmenu{
    display: inline-block;
}

.title{
    display: inline-block;
    padding-right: 300px;
    padding-left: 10px;
    color: darkslateblue;
}

ul li{
    text-decoration: none;
    display: inline-block;
    padding-right: 40px;
    color: darkslateblue;
}


a{
text-decoration: none;
}

header{
    background-color:rgb(206, 175, 205)
}

.banner{
    display: inline-block;
    padding-left: 2vw;
}

.bannertext{
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
.bannerimg{
    width: 70%; 
    height: auto;
    display: inline-block
}

.greatcontainer{
    width: 105vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1%;
    padding-left: 150px;
}


button{
    background-color: #783145;
    color: white;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;

}
.card{
    padding: 1%;
    width: 20vw;
    height: auto;
    display: flex; 
    flex-direction: column;
    border: 3px rgb(219, 155, 177) solid;

}

.flowchart{
    width: 100%;
    display: block;
}

.flowchartext{
  display: flex;  
  flex-direction: column;
  flex-grow: 1;
  font-size: 14px;
}
.flowtitle{
    font-size: 25px;
}

.crew{
    padding-left: 700px;
}

.suscribe form{
    display: flex;
    justify-content: space-around;
}

.suscribe form input{
    width: 30%;
    height: 1%;
    padding: 5px 10px 5px 10px;

}

.suscribebutton{
    background-color: #783145;
    color: white;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
}

.mailconfirmation{
    text-align: center;
}

.crewtitle{
    color: darkslateblue;
    text-align: center;
}

.suscribe label{
    display: block;
    margin-bottom: 20px;
}